{% extends "base.html" %}

{% block content %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="mt-4 p-5 bg-primary text-white rounded">
    <div class="container">
      <h1 class="display-3">Hello, world!</h1>
      <p>This is a template for a informational website. It includes a information about scope of AI.</p>
      <p><a class="btn btn-primary btn-lg" href="https://www.javatpoint.com/scope-of-ai" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Scope of AI (AI Careers)</h2>
        <p>Fresher's should analyze their competencies and skills and choose a better AI role with the potential for upward mobility. The future scope of Artificial Intelligence continues to grow due to new job roles and advancements in the AI field. The various roles in an AI career are as follows: </p>
        <ol>
          <li>AI Analysts and Developers</li>
          <li>AI Engineer and Scientist</li>
          <li>AI researcher</li>
          <li>AI Algorithms Expert</li>
          <li>Robotics specialist</li>
          <li>Military and aviation specialist</li>
          <li>Maintenance and mechanical engineer</li>
          <li>Surgical AI technician</li>
        </ol>
        <p><a class="btn btn-secondary" href="https://www.javatpoint.com/scope-of-ai" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>The future of AI</h2>
        <p>The future of Artificial Intelligence is bright in India, with many organizations opting for AI automation. It is essential to understand the recent developments in AI to find suitable job roles based on your competencies.
          The scope of Artificial Intelligence is limited to domestic and commercial purposes as the medical and aviation sectors are also using AI to improve their services. If AI is outperforming human efforts, then opting for AI automation will reduce costs in the long run for a business.
          Automation in operational vehicles has created a buzz in the logistics industry as it is expected that automated trucks/vehicles may soon be used.
          Due to the bright scope of Artificial Intelligence in the future, the number of AI start-ups is expected to increase in the coming years. Indicating the opportunities, the number of AI start-ups in India has increased significantly.
          Moreover, India's talent gap for specialist AI developers is huge, and AI experts are needed by businesses more than ever. Businesses don't want to miss out on any technology that can revolutionize their business processes. </p>
        <p><a class="btn btn-secondary" href="https://www.javatpoint.com/scope-of-ai" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Jobs in AI</h2>
        <p>The name of the designation in the AI field may be different. Some of the top jobs in AI (India - 2021) are as follows:</p>
        <ol>
          <li>Computational Philosopher</li>
          <li>Robot Personality Designer</li>
          <li>Robot Obedience Trainer</li>
          <li>Robot Obedience Trainer</li>
          <li>Autonomous Vehicle Infrastructure Designer</li>
          <li>Algorithmic Trainer / Click Worker </li>
          <li>AI Cyber Security Expert </li>
        </ol>
        <p><a class="btn btn-secondary" href="https://www.javatpoint.com/scope-of-ai" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>
{% endblock %}